<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545491248016-mp9tj6usv505ve9d987edlnbn3o0ud0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545491248016-mp9tj6usv505ve9d987edlnbn3o0ud0v</string>
	<key>API_KEY</key>
	<string>AIzaSyAN3bT-rgaFXZxGzNUD9YCYCxjdai8kahY</string>
	<key>GCM_SENDER_ID</key>
	<string>545491248016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tena</string>
	<key>PROJECT_ID</key>
	<string>tena-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tena-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545491248016:ios:c17b76f6739d09d3434915</string>
</dict>
</plist>